#hero-bg {
    background-image: url(../../assets/Mask.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
#services-bg {
    background-image: url(../../assets/Group.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.container {
    position: relative;
    z-index: 0;
    padding: 0 10rem;
    overflow-x: hidden;
}

#tsparticles {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
@media (max-width: 1300px) {
    #hero-bg {
        background-image: url(../../assets/Mask.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
    #services-bg {
        background-image: url(../../assets/Group.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

@media (max-width: 740px) {
    .container {
        padding: 0 4rem;
    }
}

@media (max-width: 360px) {
    .container {
        padding: 0 2rem;
    }
}

.menu__contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: 1px solid black;
    width: 100px;
    height: 60px;

    button {
        background-color: transparent;
    }
}
